.input {
  display: block;
  width: 97%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkgray;
  transition: 0.3s border-color;
}

.input:hover {
  border: 1px solid #aaa;
}

.form {
      font-size: 1.5em;
    line-height: 60px;
}
